.bg-style{
    background-color: rgb(197, 243, 228);
}

.img-style{
    width: 50%;
    max-width: 100%;
    object-fit: cover;
    
}
.register{
    
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.reg-div{
    width: 80%;
}

@media only screen and (max-width:992px) {
.register{
    flex-direction: column;
}
    .reg-div{
        width: 100%;
    }
}