 /*---------------- vanilla CSS styles-------------------- */
.bg-style{
    background-color: rgb(197, 243, 228);
}

.img-style{
    width: 50%;
    max-width: 100%;
    object-fit: cover;
    
}
.register{
    
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.reg-div{
    width: 80%;
}
.feedback{
    display: flex;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    
}
.feedback-content{
    display: block;
    width: 50%;
    border: 1px solid grey;
    background-color: azure;
}
/*--------------------------- media queries added------------------- */
@media only screen and (max-width:992px) {
.register{
    flex-direction: column;
}
    .reg-div{
        width: 100%;
    }
    .feedback{
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;
        column-gap: 10px;
      
    }
    .feedback-content{
        display: block;
        width: 100%;
        border: 1px solid grey;
        background-color: azure;
    }
    
}

/*----------------------------------------------- the end ------------------------------------------------------ */